
.adminNav {
  max-width: 100%;
  .adminNavContainer {
    max-width: 100vw;
    display: flex;
    flex-direction: column;

     
    .adminNav_sidebar {
      width: 250px;
      display: flex;
      flex-direction: column;
      gap: 50px;
      height: 100vh;
      background-color: white;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      .active {
        background-color: #0d1f61;
        color: #ffffff;
        display: flex;
        gap: 10px;
        align-items: center;
        padding: 10px;
        border-radius: 4px;
        font-weight: 600;
      }

      .adminNav_link {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px;
        height: 100%;
        a {
          display: flex;
          gap: 10px;
          align-items: center;
          padding: 10px;
          border-radius: 4px;
          transition: 300ms;
          font-weight: 600;
          &:hover {
            background-color: #0d1f61;
            color: white;
          }
        }
      }
    }
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .adminNav {
    .adminNav_sidebar {
      width: 230px;
      .adminNav_title {
        p {
          font-size: 21px;
        }
      }
      .adminNav_link {
        a {
          font-size: 15px;
        }
      }
    }
  }
}
