.adminNav {
  max-width: 100%;
  .adminNav_sidebar {
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    height: 100vh;
    position: fixed;
    background-color: white;
    left: 0;
    top: 0;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
 
  }
}


 