#vacancyDetail {
    background-color: #F7F7F8;
    .vacancyDetail_container{
        max-width: 80%;
        margin: 50px auto;
        .vacancyDetail_title_box {
            padding: 8px 20px;
            border-radius: 5px;
            border: 1px solid #e5e5e5;
            background-color: #fff;
            width: 100%;
            display: flex;
            align-items: center;
            margin-bottom: 20px;

            &_content {
                &_title {
                    color: black;
                    font-weight: 600;
                    font-size: 20px;
                }
    
                &_text {
                    color: #8a8080;
                    font-size: 13px;
                }
            }
        }
    }
    
}