#vacancyDetail {
    background-color: #F7F7F8;
    max-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0px;
    .vacancyDetail_container{
        width: 1200px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .vacancyDetail_title_box {
            padding: 8px 20px;
            border-radius: 5px;
            border: 1px solid #e5e5e5;
            background-color: #fff;
            width: 100%;
            display: flex;
            align-items: center;
            margin-bottom: 20px;

            &_content {
                &_title {
                    color: black;
                    font-weight: 600;
                    font-size: 20px;
                }
    
                &_text {
                    color: #8a8080;
                    font-size: 13px;
                }
            }
        }
        .vacancyDetail_box{
            width: 100%;
            display: flex;
            align-items: start;
            justify-content: center;
            flex-direction: column;
            gap: 15px;
            border-radius: 5px;
            border: 1px solid #e5e5e5;
            background-color: #fff;
            padding: 30px 20px 80px 60px;
            h3{
                margin-left: 30px;
                font-size: 24px;
                color: #2196F3;
            }
            .info{
                font-size: 18px;
                letter-spacing: 1px;
            }
            h2{
                font-size: 24px;
                margin-bottom: 20px;
            }
            .ohdelikler{
                display: flex;
                flex-direction: column;
                padding: 15px 20px;
                ul{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    li{
                        font-size: 17px; 
                        list-style: circle;
                    }
                }
            }
            .telebler{
                display: flex;
                flex-direction: column;
                padding: 15px 20px;
                ul{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    li{
                        font-size: 17px; 
                        list-style: lower;
                    }
                }
            }
            .temin{
                display: flex;
                flex-direction: column;
                padding: 15px 20px;
                ul{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    li{
                        font-size: 17px; 
                        list-style: square;
                    }
                }
            }
            button{
                margin-top: 20px;
                padding: 7px 40px;
                border-radius: 8px;
                background-color: #2196F3;
                border: none;
                color: white;
                transition: 400ms;
                &:hover{
                    background-color: #0b5897;
                }
            }
        }
    }
    
}

@media screen and (max-width:1230px) {
    #vacancyDetail {
        .vacancyDetail_container{
            width: 960px;
        }
    }
}
@media screen and (max-width: 970px) {
    #vacancyDetail {
        .vacancyDetail_container{
            width: 550px;
        }
    }
}
@media screen and (max-width: 570px) {
    #vacancyDetail {
        .vacancyDetail_container{
            width: 310px;
        }
    }
}