@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.userInformation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;

    h1 {
        font-size: 24px;
        font-weight: 700;
        color: #0851A3;
        font-family: "Montserrat", sans-serif;
    }

    .userInformation-content {
        background-color: white;
        width: 670px;
        padding: 40px 25px;
        border-radius: 40px;

        .ant-steps {
            .ant-steps-item {
                .ant-steps-item-container {
                    display: flex;
                    gap: 2px;

                    .ant-steps-item-title {
                        font-size: 15px;
                    }

                    .ant-steps-item-icon {
                        .ant-steps-icon {
                            font-size: 21px;
                            line-height: 35px;

                        }
                    }
                }
            }
        }

        form {
            .avatar {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 10px;
                padding: 30px 0;

                h2 {
                    font-size: 20px;
                    font-weight: 600;
                    font-family: "Montserrat", sans-serif;
                    color: #03314B;
                }
            }

            .inputs {
                user-select: none;
                display: flex;
                flex-direction: column;
                gap: 10px;

                .line {
                    display: flex;
                    max-width: 620px;
                    width: 100%;
                    gap: 50px;

                    .ant-input-wrapper {
                        .ant-input-group-addon {
                            border-top-left-radius: 10px;
                            border-bottom-left-radius: 10px;
                        }

                        input {
                            width: 224.2px;
                            height: 40px;
                            border-top-right-radius: 10px;
                            border-bottom-right-radius: 10px;
                        }
                    }

                }

                .input-select {
                    height: 40px;
                    width: 285px;
                    border-radius: 10px;

                    &:where(.css-dev-only-do-not-override-1okl62o).ant-input-outlined.ant-input-status-error:not(.ant-input-disabled) {
                        border-color: #ff4d4f !important;
                    }

                    input {
                        &::placeholder {
                            color: #2d31a633;
                        }
                    }

                    .ant-select-suffix {
                        margin-bottom: 10px !important;

                        svg {
                            font-size: 16px;
                            color: #2d31a633;
                        }
                    }

                    .ant-picker-suffix {
                        svg {
                            font-size: 16px;
                            color: #2d31a633;
                        }
                    }

                }

                .input {
                    height: 40px;
                    border-radius: 10px;
                    width: 285px;

                    &:where(.css-dev-only-do-not-override-1okl62o).ant-input-outlined.ant-input-status-error:not(.ant-input-disabled) {
                        border-color: #ff4d4f !important;
                    }

                    input {
                        padding-left: 7px;

                        &::placeholder {
                            color: #2d31a633;
                        }
                    }

                    svg {
                        font-size: 20px;
                        color: #2d31a633;
                    }
                }

                .input-line {
                    display: flex;
                    gap: 50px;
                    justify-content: space-between;

                    .employment {
                        display: flex;
                        flex-direction: column;
                        gap: 20px;

                        .employment-inputs {
                            display: flex;
                            gap: 10px;
                            flex-direction: column;
                        }
                    }

                    .language {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;

                        .language-inputs {
                            display: flex;
                            gap: 10px;
                            flex-direction: column;
                        }
                    }
                }
            }

            .cv-form {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 25px;
                padding: 30px 0 20px;

                h2 {
                    font-size: 20px;
                    font-weight: 600;
                    font-family: "Montserrat", sans-serif;
                    color: #03314B;
                }
            }

            .button {
                width: 100%;
                display: flex;
                padding-top: 30px;
                align-items: center;
                justify-content: center;
                gap: 50px;

                .prev-btn {
                    height: 35px;
                    border-radius: 10px;
                    font-weight: 500;
                    font-size: 14px;
                    letter-spacing: 0.5px;
                    padding: 0 25px;
                    background-color: #ffffff;
                    border: 2px solid #0851A3;
                    color: #0851A3;
                    margin-right: 10px !important;

                    &:hover {
                        background-color: #0851A3;
                        color: white;
                    }
                }


                button {
                    background-color: #0851A3;
                    height: 35px;
                    border-radius: 10px;
                    font-weight: 500;
                    font-size: 14px;
                    letter-spacing: 0.5px;
                    padding: 0 25px;
                    color: white;
                    border: 2px solid #0851A3;

                    &:hover {
                        background-color: #ffffff;
                        border: 2px solid #0851A3;
                        color: #0851A3;
                    }
                }
            }

        }
    }
}