

#categories {
  max-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0px;
  .container {
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 0px;
    .name {
      width: 85%;
      display: flex;
      align-items: center;
      justify-content: start;
      h1{
        border-left: 5px solid #0a65cc;
        padding-left: 20px;
      }
    }
    .cards {
      width: 100%;
      padding: 30px 0px;
      display: grid;
      grid-template-columns: auto auto auto auto;
      align-items: center;
      justify-content: center;
      gap: 20px;
      .card {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: 15px 10px;
        border-radius: 16px;
        transition: 400ms;
        gap: 5px;
        width: 260px;
        i {
          width: 40px;
          height: 40px;
          border-radius: 8px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #e7f0fa;
          color: #0a65cc;
          font-size: 20px;
          transition: 300ms;
        }
        &_about {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          gap: 8px;
        }
        &:hover {
          cursor: pointer;
          background-color: white;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          i {
            background-color: #0a65cc;
            color: #e7f0fa;
          }
        }
      }
    }
  }
}

// responsivlik categoriyalar ucun
@media screen and (max-width:1230px) {
  #categories {
    .container {
      width: 960px;
      .cards {
        grid-template-columns: auto auto auto ;
      }
    }
  }
}
@media screen and (max-width:960px) {
  #categories {
    .container {
      width: 550px;
      .name{
        justify-content: center;
      }
      .cards {
        grid-template-columns: auto auto;
      }
    }
  }
}
@media screen and (max-width:560px) {
  #categories {
    .container {
      width: 320px;
      .name{
        justify-content: center;
      }
      .cards {
        grid-template-columns: auto;
        justify-content: center;
      }
    }
  }
}