@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 90px;

    h1 {
        font-size: 22px;
        font-weight: 600;
        font-family: "Montserrat", sans-serif;

    }

    .login-content {
        form {
            .inputs {
                user-select: none;
                display: flex;
                flex-direction: column;
                gap: 10px;

                .input {
                    border: 2px solid #0A65CC;
                    height: 51.8px;
                    width: 367px;
                    border-radius: 10px;

                    &:where(.css-dev-only-do-not-override-1okl62o).ant-input-outlined.ant-input-status-error:not(.ant-input-disabled) {
                        border-color: #ff4d4f !important;
                    }

                    input {
                        padding-left: 7px;

                        &::placeholder {
                            color: #2d31a633;
                        }
                    }

                    svg {
                        font-size: 22px;
                        color: #2d31a633;
                    }
                }
            }

            .text-input {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 10px 0 20px;

                label {
                    display: flex;
                    align-items: center;

                    .ant-checkbox {
                        user-select: none;

                        &:where(.css-dev-only-do-not-override-1okl62o).ant-checkbox-checked .ant-checkbox-inner {
                            border-color: #0851A3;
                            background-color: #0851A3;
                        }

                        .ant-checkbox-inner {
                            border-color: #0851A3;
                            border-width: 1px;
                            border-radius: 3px;
                        }

                    }

                    span {
                        font-family: "Montserrat", sans-serif;
                        color: #71717A;
                    }
                }


                a {
                    font-family: "Montserrat", sans-serif;
                    color: #0851A3;
                    font-weight: 600;
                }
            }

            button {
                background-color: #0851A3;
                height: 51.8px;
                width: 367px;
                border-radius: 10px;
                font-weight: 600;
                font-size: 17px;
                letter-spacing: 0.5px;
                display: block;

                &:hover {
                    background-color: #0850a3d3;
                }
            }

            .ant-form-item-control-input {
                min-height: 5px;

                .ant-form-item-explain-error {
                    text-align: center;
                }
            }


            .have-acc {
                text-align: center;
                color: #71717A;
                font-weight: 400;
                font-family: "Montserrat", sans-serif;
                padding-top: 20px;

                a {
                    color: #0851A3;
                    font-weight: 600;
                }
            }
        }
    }
}

@media screen and (max-width: 460px) {
    .login-container {
        gap: 70px;

        h1 {
            font-size: 18px;
        }

        .login-content {
            form {
                .inputs {
                    .input {
                        height: 46px;
                        width: 331px;

                        input {
                            &::placeholder {
                                font-size: 13px;
                            }
                        }

                        svg {
                            font-size: 20px;
                        }
                    }
                }

                .text-input {
                    padding: 8px 0 15px;

                    label {
                        span {
                            font-size: 12px;
                        }
                    }

                    a {
                        font-size: 12px;
                    }
                }

                button {
                    height: 46px;
                    width: 331px;
                    font-size: 15px;
                }

                .have-acc {
                    font-size: 12px;
                    padding-top: 15px;

                    a {
                        color: #0851A3;
                        font-size: 12px;
                        font-weight: 600;
                    }
                }
            }
        }
    }
}