* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
  max-width: 90%;
 
}
a {
  color: inherit;
}
button {
  transition: 300ms;
  cursor: pointer;
}

img{
  max-width: 100%;
}


