.footer {
  max-width: 100%;
  .footer_container {
    padding-top: 30px;
    footer {
      background-color: #18191C;
      
      .footertop {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 1px solid #40454b;
        padding: 50px 120px;
        .container {
          display: flex;
          flex-direction: column;
          gap: 10px;
          color: #5E6670;
          h1 {
            font-size: 27px;
          }
          .footermenu {
            p {
              font-size: 16px;
            }
          }
          h3 {
            font-weight: 400;
            font-size: 16px;
          }
          h4 {
            font-weight: 400;
            font-size: 16px;
          }
          img {
            width: 100px;
          }
          h1 {
            color: white;
            font-weight: 400;
          }
          .footermenu {
            display: flex;
            flex-direction: row;
            gap: 30px;
            p {
              transition: 300ms;
              cursor: pointer;
              &:hover {
                color: white;
              }
            }
          }
        }
      }
      .footerbottom {
        padding: 50px 120px;
        display: flex;
        flex-direction: row;
        color: #5E6670;
        justify-content: space-between;
        h5 {
          font-weight: 500;
        }
        .icons {
          display: flex;
          flex-direction: row;
          gap: 20px;
          font-size: 20px;
          i {
            transition: 300ms;
            cursor: pointer;
            &:hover {
              color: white;
            }
          }
        }
      }
    }
  }
}


